@media (max-width:320px) {
  header {
    max-width: 40%;

  }
  main {
    max-width: 40%;
  }

  footer {
    max-width: 40%;
  }
  }

body {
  font-family: 'Amatic SC', cursive;
  background-color: black;
}

header {

  background-color: black;
  border-bottom: solid white 1px;
  height: 100px;
}



.header-image {
  height: 100px;
  width: 80px;
}


#header-column-1 {
  width:25%;
  float:left;

}
#header-column-2 {
  text-align: center;
  color: white;
  width:50%;
  float:left;


}



.background-image {
  margin-top: 50px;
  margin-bottom: 50px;


}

hr {
  margin-bottom: 0;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid white 1px;

}
.footer {
  border-top: solid grey 1px;

  max-width: 20%;
  margin-left:auto;
  margin-right: auto;
  font-size: 15px;
  text-align: center;
  color: white;
  padding-top: 20px;
  margin-top: 0;
}

h1 {
  font-weight: lighter;
  font-size: 45px;
  margin-top: 18px;
}

p {
  font-size: 15px;
}

main {
  border-top: 1px solid grey;
}


#imgRand {
  display: block;
  margin: 0 auto;
  max-width:100%;
}

/* Dropdown menu */


a {
      text-decoration: none;
      color: #fff;

    }

    .dropdown {


      position: absolute;
      text-align: left;
      width: 132px;
      max-width: 20%;
      margin-left:85%;
      margin-right: 5%;
      margin-top:35px;


    }

    .dropdown-text {
      cursor: pointer;
      position: absolute;
      text-indent: 10px;
      line-height: 32px;
      background-color: transparent;
      border: 1px solid #ccc;
      border-radius: 0px;
      width: 100%;
    }

    .dropdown-text:after {
      position: absolute;
      right: 6px;
      top: 15px;
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #fff transparent transparent transparent;
    }

    .dropdown-text,
    .dropdown-content a {
      font-size: 30px;
      font-weight: lighter;
      color: #fff;

    }

    .dropdown-content a {
      font-size: 15px;
    }

    .dropdown-toggle {
      font-size: 0;
      z-index: 1;
      cursor: pointer;
      position: absolute;
      top: 0;
      border: none;
      padding: 0;

      margin: 0 0 0 1px;
      background: transparent;
      text-indent: -10px;
      height: 34px;
      width: 100%;
    }

    .dropdown-toggle:focus {
      outline: 0;
    }

    .dropdown-content {
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      list-style-type: none;
      position: absolute;
      top: 32px;
      padding: 0;
      margin: 0;
      opacity: 0;
      visibility:hidden;
      border-radius: 0px;
      text-indent: 10px;
      line-height: 32px;
      background-color: black;
      border: 1px solid #fff;
      width: 140px;
    }

    .dropdown-content a {
      display: block;
    }

    .dropdown-content a:hover {
      background: transparent;
    }


    .dropdown-toggle:hover ~ .dropdown-text,
    .dropdown-toggle:focus ~ .dropdown-text {
      background-color: transparent;
    }

    .dropdown-toggle:focus ~ .dropdown-text {
      box-shadow: 0 0px 0px rgba(0,0,0, .2) inset, 0 0px 0 rgba(255,255,255, 0.8);
      z-index: 2;
    }

    .dropdown-toggle:focus ~ .dropdown-text:after {
      border-width: 0 4px 5px 4px;
      border-color: transparent transparent #fff transparent;
    }

    .dropdown-content:hover,
    .dropdown-toggle:focus ~ .dropdown-content {
      opacity: 1;
      visibility:visible;
      top: 42px;
    }
